.BuildControls {
    width: 100%;
    background-color: #CF8f2e;
    color: white;
    display: flex;
    flex-flow: column;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 0.5rem 0;
    text-align: center;
}